qa-backend-code-challenge/src/Betsson.OnlineWallets/Betsson.OnlineWallets.csproj
qa-backend-code-challenge/src/Betsson.OnlineWallets/Exceptions/InsufficientBalanceException.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets/Extensions/ServiceCollectionExtensions.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets/Models/Balance.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets/Models/Deposit.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets/Models/Withdrawal.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets/Services/IOnlineWalletService.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets/Services/OnlineWalletService.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Data/Betsson.OnlineWallets.Data.csproj
qa-backend-code-challenge/src/Betsson.OnlineWallets.Data/OnlineWalletContext.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Data/Extensions/ServiceCollectionExtensions.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Data/Models/OnlineWalletEntry.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Data/Models/OnlineWalletEntryConfiguration.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Data/Repositories/IOnlineWalletRepository.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Data/Repositories/OnlineWalletRepository.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/appsettings.Development.json
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/appsettings.json
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Betsson.OnlineWallets.Web.csproj
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Dockerfile
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Program.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Startup.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Controllers/OnlineWalletController.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Controllers/SystemController.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Mappers/WalletMappingProfile.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Models/BalanceResponse.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Models/DepositRequest.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Models/WithdrawalRequest.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Properties/launchSettings.json
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Validators/DepositRequestValidator.cs
qa-backend-code-challenge/src/Betsson.OnlineWallets.Web/Validators/WithdrawalRequestValidator.cs
qa-backend-code-challenge/Betsson.OnlineWallets.sln
qa-backend-code-challenge/README.md
